.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Header-button {
  background-color: #4a5261;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.Text_input {
  background-color: #4a5261;
  color: white;
  opacity: 1;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.UISelector {
  background-color: #4a5261;
  color: white;
  opacity: 1;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.App-link {
  color: #61dafb;
}

.Cars-table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.Cars-table-th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4a5261;
  color: white;
}

.Cars-table-th-b {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4a5261;
  color: white;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
